@import url('http://twitter.github.com/bootstrap/assets/css/bootstrap.css');
 /* Make the image fully responsive */
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
}
.carousel {
    height: 100%;
}
.active {
    height: 65%;
}
/* .carousel-item active {
    height: 65%;
} */
.carousel-inner img {
    width: 100%;
}
